{{ define "main" }}
<p>Its around a millionth time I'm re-writing this and yet not sure if its how I want it to be. However...</p>
<p><strong>Hi</strong>, My name is Gautham (& I'm <i>kind</i> of sure you've had that figured out by now) and I'm a homo
        sapien interested in Numbers, Physics, Problem Solving / Optimising, Programming, Computers, Technology, Coffee,
        Books, Blogging & Motorcycling / Riding.
</p>
<p>Checkout my recent posts or click on <u>More...</u> below for all my published posts.</p>
<p>Happy Reading!</p>
<h2>Recent Posts</h2>
{{ range .Site.RegularPages | first 5}}
<h3><a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a> &nbsp; <span style="font-size: 13px;">{{ partial
                "metadata.html" . }}</span></h3>
<p></p>
{{ end }}
<h3><a href="/posts/">More...</a></h3>
{{ end }}