<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body>
    {{- partial "header.html" . -}}
    <div id="content">
        {{- block "main" . }}{{- end }}
    </div>
    {{- partial "footer.html" . -}}

    <script>
        var anchors = document.getElementsByTagName("a");

        for (i in anchors) {
            if (anchors[i].className && anchors[i].className.indexOf('external') != -1)
                anchors[i].setAttribute("target", "_blank");
        }
    </script>
    <script id="dsq-count-scr" src="//gauthamsk-me.disqus.com/count.js" async></script>
</body>

</html>